<tr id="item<%= item.id %>">
  <% if current_user == @user %>
    <td class='center w-10'>
      <%= link_to user_item_path(@user,item), method: :delete, remote: true do %>
        <i class="fal fa-times"></i>
      <% end %>
    </td>
  <% end %>
  <% if item.created_at+7.days < Time.now %>
  <td class='center red w-20'>
    <small><%= distance_of_time_in_words(Time.now,item.created_at+7.days) + " overdue" %></small>
  </td>
  <% else %>
  <td class='center green w-20'>
    <small><%= distance_of_time_in_words(Time.now,item.created_at+7.days) + " left" %></small>
  </td>
  <% end %>


  <td><%= item.name %></td>
</tr>
